[Unit]
Description=SequoiaDB Daemon
After=network.target

[Service]
Type=forking
KillMode=none
PIDFile=/opt/sequoiadb/conf/log/sdbcm.pid
ExecStart=/opt/sequoiadb/bin/sdbcmart
ExecStop=-/opt/sequoiadb/bin/sdbcmtop 
# set ulimit
LimitCORE=0
LimitDATA=infinity
LimitFSIZE=infinity
LimitAS=infinity
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
