<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it-->
<!--testcase for function test, which can be excuted concurrently-->

<suite name="driver" verbose="1" parallel="tests" >
   <parameter name="coordUrl" value="localhost/t.t" />
   <parameter name="coordUrl1" value="localhost/wycs.wycl" />
   <parameter name="filePath" value="./testlobfile" />   
   <parameter name="testfilePath" value="/tmp"/> 
   <parameter name="commCSName" value="story_java_test_cs" />
   <parameter name="SPAREPORTSTART" value="26000" />
   <parameter name="SPAREPORTSTOP"  value="27000" />
   <parameter name="SPAREPATH"  value="/data/disk3/sequoiadb/database/" />
   
   <parameter name="HOSTNAME"       value="${HOSTNAME}" />
   <parameter name="SVCNAME"        value="${SVCNAME}" />
   <parameter name="CHANGEDPREFIX"  value="story_java_test" />
   <parameter name="RSRVPORTBEGIN"  value="26000" />
   <parameter name="RSRVPORTEND"    value="27000" />
   <parameter name="RSRVNODEDIR"    value="/opt/sequoiadb/database/" />
   <parameter name="WORKDIR"        value="/tmp/javatest" />
   <parameter name="ROOTPASSWD"     value="jenkins" />
   
   <listeners>
      <listener class-name="com.sequoiadb.testcommon.TimePrinterListener"/>
   </listeners>
   <test name="javadriver" parallel="classes" thread-count="5">
      <packages> 
         <package name="com.sequoiadb.basicoperation" />
         <package name="com.sequoiadb.bsontypes"/>
         <package name="com.sequoiadb.metadata" />
         <package name="com.sequoiadb.sdb"/>
         <package name="com.sequoiadb.procedure"/>
         <package name="com.sequoiadb.baseexception"/>
         <package name="com.sequoiadb.baseconfigoption"/>
         <package name="com.sequoiadb.optimize"/>
         <package name="com.sequoiadb.index"/>
         <package name="com.sequoiadb.transaction"/>
      </packages>
   </test>   
 
</suite>
   
