<div style="padding:10px 15px;" ng-controller="Monitor.SdbGroup.Index.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;padding-top:10px;" ng-container="{height:70}">
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;" ng-click="moduleInfo()">集群</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoDeploy()">{{clusterName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-tasks"></i>
         </div>
         <div style="height:50px;float:left;max-width:200px;">
            <div style="font-size:90%;">{{moduleType}}</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoModule()">{{moduleName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-sitemap"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">分区组数</div>
            <div class="Ellipsis" style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoGroups()">20</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div class="clear-float"></div>
   </div>

   <div class="underlineTab" ng-container="{height:40,marginTop:10}">
      <ul class="left">
         <li class="active">
            <a href="#/Monitor/SDB-Group/Index">{{autoLanguage("分区组信息")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Group/Charts">{{autoLanguage("图表")}}</a>
         </li>
      </ul>
   </div>

   <div ng-container="{height:30,marginTop:10}">
      <button class="topBtn" ng-click="addNode()">创建节点</button>
      <button class="topBtn" ng-click="deleteNode()">删除节点</button>
      <button class="topBtn" ng-click="startNode()">启动节点</button>
      <button class="topBtn" ng-click="stopNode()">停止节点</button>
   </div>

   <div class="well Ellipsis" style="height:40px;margin-top:10px;">
      <i class="fa fa-circle" style="color:#00CC66;"></i>&nbsp;<span style="font-weight:bold;color:#006699;">{{groupInfo['GroupName']}}</span>
   </div>

   <div ng-container="{offsetY:-230,marginTop:10}">
      <div style="float:left;border:1px solid #ddd;padding:10px;overflow-y:auto;font-size:90%;color:#666;" ng-container="{width:300}">
         <table class="table loosen">
            <tr>
               <td style="width:75px;font-weight:bold;">角色</td>
               <td class="Ellipsis" style="width:186px;">{{groupInfo['Role']}}</td>
            </tr>
            <tr>
               <td style="font-weight:bold;">节点数</td>
               <td class="Ellipsis">{{groupInfo['Group'].length}}</td>
            </tr>
            <tr>
               <td style="font-weight:bold;">主节点</td>
               <td class="Ellipsis">
                  <span class="linkButton" ng-click="GotoNode()">{{PrimaryNode}}</span>
               </td>
            </tr>
            <tr valign="top">
               <td style="font-weight:bold;">所属域</td>
               <td>
                  <div style="margin-bottom:5px;" class="Ellipsis" ng-repeat="domain in groupInfo['Domain']">
                     <span class="linkButton" ng-click="GotoDomains()">{{domain}}</span>
                  </div>
               </td>
            </tr>
         </table>
      </div>
      <div style="float:left;overflow-y:auto;border: 1px solid #E3E7E8;padding:10px;" ng-container="{offsetX:-310,marginLeft:10}">
         <div class="colorfulListBox" style="overflow-y:auto;" ng-repeat="node in groupInfo['Group'] track by $index" ng-class="{'0':'green','1':'yellow','2':'blue','3':'violet'}[$index%4]" ng-style="{false:{'border-bottom':0}}[$last]">
            <div style="color:#666;font-weight:bold;height:20px;" ng-if="node['Status'] == 1">
               <i class="fa fa-circle" style="padding-top:2px;color:#00CC66;"></i>&nbsp;运行中
            </div>
            <div style="color:#666;font-weight:bold;height:20px;" ng-if="node['Status'] == 0">
               <i class="fa fa-circle" style="padding-top:2px;color:#F9A937;"></i>&nbsp;等待中
            </div>
            <div style="color:#666;height:164px;margin-top:5px;">
               <div style="float:left;" create-response="{max:900,min:300,len:2,column:2}">
                  <div class="Ellipsis" style="font-weight:bold;height:20px;margin-top:5px;">
                     <span class="linkButton" ng-click="GotoNode()">{{node['HostName']}}:{{node['Service'][0]['Name']}}</span>
                  </div>
                  <table class="table normal" style="margin-top:20px;">
                     <tr>
                        <td style="width:87px;">节点ID</td>
                        <td class="Ellipsis">{{node['NodeID']}}</td>
                     </tr>
                     <tr>
                        <td>LSN</td>
                        <td class="Ellipsis">{{node['LSN']}}</td>
                     </tr>
                     <tr>
                        <td>记录数</td>
                        <td class="Ellipsis">{{node['TotalData']}}</td>
                     </tr>
                     <tr>
                        <td>主机名</td>
                        <td class="Ellipsis">
                           <span class="linkButton" ng-click="GotoHost()">{{node['HostName']}}</span>
                        </td>
                     </tr>
                     <tr valign="top">
                        <td>路径</td>
                        <td class="Ellipsis">{{node['dbpath']}}</td>
                     </tr>
                  </table>
               </div>

               <div style="float:left;padding-top:15px;" create-response="{max:900,min:300,len:2,column:2}">
                  <table class="table border loosen">
                     <tr ng-repeat="service in node['Service']">
                        <td ng-if="service['Type'] == 0">直连服务</td>
                        <td ng-if="service['Type'] == 1">复制服务</td>
                        <td ng-if="service['Type'] == 2">分区服务</td>
                        <td ng-if="service['Type'] == 3">编目服务</td>
                        <td>{{service['Name']}}</td>
                     </tr>
                  </table>
               </div>
               <div class="clear-float"></div>
            </div>
         </div>
      </div>
      <div class="clear-float"></div>
   </div>

</div>