<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--This xml is for ci. -->
<!--Testcases for reliability test, except disk-full testcases. -->

<suite name="reliability" verbose="1" stop-all-when-occur-failure="true" preserve-order="true">
	<parameter name="HOSTNAME"       value="localhost" />
	<parameter name="SVCNAME"        value="11810" />
	<parameter name="CHANGEDPREFIX"  value="reliability_test" />
	<parameter name="RSRVPORTBEGIN"  value="26000" />
	<parameter name="RSRVPORTEND"    value="27000" />
	<parameter name="RSRVNODEDIR"    value="/data/sequoiadb/cidatabase" />
	<parameter name="WORKDIR"        value="/tmp/ci_reliability" />
	<parameter name="ROOTPASSWD"     value="jenkins" />
	<parameter name="REMOTEUSER"     value="sdbadmin" />
	<parameter name="REMOTEPASSWD"   value="sdbadmin" />
   <parameter name="SCRIPTDIR"       value="/trunk/testcase_new/reliability/script" />
   
	<test name="reliability_normal">
		<packages>
			<package name="com.sequoiadb.subcl.brokennetwork" />
			<package name="com.sequoiadb.subcl.killnode"></package>
			<package name="com.sequoiadb.subcl.restartnode"></package>
			<package name="com.sequoiadb.clsmgr.brokennetwork"></package>
			<package name="com.sequoiadb.split.killnode"></package>
			<package name="com.sequoiadb.split.restartnode"></package>
			<package name="com.sequoiadb.split.brokennetwork"/>
			<package name="com.sequoiadb.metaopr.killnode" />
			<package name="com.sequoiadb.metaopr.networkfail.cl" />
			<package name="com.sequoiadb.metaopr.networkfail.cs" />
			<package name="com.sequoiadb.metaopr.networkfail.domain" />
			<package name="com.sequoiadb.metaopr.noderestart" />
			<!--lob用例先不跑，等代码检视后再跑。-->
			<!--<package name="com.sequoiadb.lob" />-->
			<package name="com.sequoiadb.cappedCL.killnode" />
            <package name="com.sequoiadb.cappedCL.restartnode" />
		</packages>
	</test>
	
	<test name="reliability_fullSync">
      <packages>
		  <package name="com.sequoiadb.datasync.brokennetwork" />
		  <package name="com.sequoiadb.datasync.killnode" />
		  <package name="com.sequoiadb.datasync.restartnode" />
      </packages>
	</test>

</suite>
   