[Unit]
Description=SequoiaDB Daemon
After=network.target

[Service]
Type=forking
KillMode=none
PIDFile=/opt/sequoiadb/conf/log/sdbcm.pid
ExecStart=/opt/sequoiadb/bin/sdbcmart
ExecStop=-/opt/sequoiadb/bin/sdbcmtop 

[Install]
WantedBy=multi-user.target
