<div style="padding:10px 15px;" ng-controller="Deploy.Index.Ctrl" ng-container="{}">
   <div class="pull-left" ng-container="{offsetX:-280}">
      <div class="underlineTab" ng-container="{height:50}">
         <ul class="left">
            <li ng-class="{'module': 'active'}[currentPage]">
               <a class="linkButton" ng-click="SwitchPage('module')">{{autoLanguage("业务")}}</a> <span class="badge badge-info">{{ModuleNum}}</span>
            </li>
            <li ng-class="{'host': 'active'}[currentPage]">
               <a class="linkButton" ng-click="SwitchPage('host')">{{autoLanguage("主机")}}</a> <span class="badge badge-info">{{HostNum}}</span>
            </li>
         </ul>
      </div>
      <div ng-container="{offsetY:-50}"  ng-hide="currentPage!='module'">
         <div ng-container="{height:40}">
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-disabled="clusterList.length==0" ng-click="CreateInstallModuleModel()"><i class="fa fa-plus"></i> {{autoLanguage("添加业务")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-disabled="clusterList.length==0" ng-click="CreateAppendModuleModel()"><i class="fa fa-plus"></i> {{autoLanguage("发现业务")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-disabled="clusterList.length==0" ng-click="CreateUninstallModuleModel()"><i class="fa fa-trash-o"></i> {{autoLanguage("卸载业务")}}</button>
         </div>

         <div style="padding-right:15px;overflow-y:auto;border:1px solid #ccc;padding:10px;position:relative;" ng-container="{offsetY:-40}">

            <div class="DataListBox" style="padding:15px 20px;margin-bottom:15px;" ng-repeat="moduleInfo in moduleList track by $index" ng-if="clusterList[currentCluster]['ClusterName'] == moduleInfo['ClusterName']" ng-class="{'0':'green','1':'yellow','2':'blue','3':'violet'}[moduleInfo['Color']%4]" ng-show="clusterList.length > 0">

               <div style="height:50px;">
                  <div class="pull-left" style="width:40px;height:40px;">
                     <i class="fa fa-database" style="color:#02CCAA;font-size:230%;"></i>
                  </div>
                  <div class="pull-left" ng-container="{offsetX:-100,height:40}">
                     <div class="Ellipsis" style="font-weight:bold;height:21px;">
                        <a class="linkButton" ng-if="moduleInfo['BusinessType']=='sequoiadb'" ng-click="GotoDataModule(moduleInfo['ClusterName'],moduleInfo['BusinessType'],moduleInfo['DeployMod'],moduleInfo['BusinessName'])">{{moduleInfo['BusinessName']}}</a>
                        <span style="color:#666;" ng-if="moduleInfo['BusinessType']!='sequoiadb'">{{moduleInfo['BusinessName']}}</span>
                     </div>
                     <div class="Ellipsis" style="font-size:90%;color:#666;">{{moduleInfo['BusinessType']}} {{moduleInfo['DeployMod']}}&nbsp;|&nbsp;<span ng-if="moduleInfo['AddtionType'] == 1">{{autoLanguage("添加时间")}}</span><span ng-if="moduleInfo['AddtionType'] == 0">{{autoLanguage("创建时间")}}</span>: {{moduleInfo['Time']['$timestamp'].substr(0,19)}}</div>
                  </div>
                  <div class="clear-float"></div>
               </div>

               <div class="well Ellipsis" ng-container="{height:41}">
                  <i class="fa fa-circle" style="color:#00CC66;" ng-if="moduleInfo['Error']['Flag']==0"></i><i class="fa fa-circle error" ng-if="moduleInfo['Error']['Flag']!=0"></i>&nbsp;<span style="font-weight:bold;color:#006699;" ng-if="moduleInfo['Error']['Flag']==0">{{autoLanguage("正常运行...")}}</span><span style="font-weight:bold;color:#006699;" ng-if="moduleInfo['Error']['Flag']!=0">{{moduleInfo['Error']['Message']}}</span>
               </div>

               <div ng-container="{offsetY:-100,marginTop:10,height:'auto'}" ng-if="moduleInfo['BusinessType']=='sequoiadb'">

                  <div class="pull-left" style="max-width:650px;" ng-container="{width:'50%',height:140,offsetX:-30,marginRight:30}">
                     <div class="Ellipsis" style="height:35px;">
                        <!--<a class="linkButton" ng-click="GotoMonitorHost(moduleInfo['ClusterName'],moduleInfo['BusinessType'],moduleInfo['DeployMod'],moduleInfo['BusinessName'])">{{sprintf(autoLanguage("一共 ? 台主机"),moduleInfo['Location'].length)}}</a>-->
                        {{sprintf(autoLanguage("一共 ? 台主机"),moduleInfo['Location'].length)}}
                     </div>

                     <div style="height:35px;">
                        <div class="pull-left" style="width:80px;height:35px;">{{autoLanguage("处理器")}}</div>
                        <div class="pull-left" style="max-width:480px;" progress-bar="moduleInfo.Chart.Host.CPU" ng-container="{height:35,offsetX:-80}"></div>
                        <div class="clear-float"></div>
                     </div>

                     <div style="height:35px;">
                        <div class="pull-left" style="width:80px;height:35px;">{{autoLanguage("内存")}}</div>
                        <div class="pull-left" style="max-width:480px;" progress-bar="moduleInfo.Chart.Host.Memory" ng-container="{height:35,offsetX:-80}"></div>
                        <div class="clear-float"></div>
                     </div>

                     <div style="height:35px;">
                        <div class="pull-left" style="width:80px;height:35px;">{{autoLanguage("磁盘")}}</div>
                        <div class="pull-left" style="max-width:480px;" progress-bar="moduleInfo.Chart.Host.Disk" ng-container="{height:35,offsetX:-80}"></div>
                        <div class="clear-float"></div>
                     </div>

                  </div>

                  <div class="pull-left" style="max-width:650px;min-height:130px;" ng-container="{width:'50%',height:'30w'}">
                     <div style="height:20px;">
                        <!--<a class="linkButton" ng-click="GotoMonitorModule(moduleInfo['ClusterName'],moduleInfo['BusinessType'],moduleInfo['DeployMod'],moduleInfo['BusinessName'])">{{sprintf(autoLanguage("一共 ? 个节点"),moduleInfo['BusinessInfo']['NodeList'].length)}}</a>-->
                        {{sprintf(autoLanguage("一共 ? 个节点"),moduleInfo['BusinessInfo']['NodeList'].length)}}
                     </div>
                     <div ng-container="{offsetY:-20}" create-chart="moduleInfo['Chart']['Module']"></div>
                  </div>

                  <div class="clear-float"></div>

               </div>
               
            </div>

            <div class="data_empty" ng-show="clusterList.length == 0">
               <div class="title">{{autoLanguage("还没有创建集群")}}</div>
               <div class="tips">
                  <span>{{autoLanguage("使用")}}</span>
                  <span class="linkButton" ng-click="CreateAddClusterModel()">{{autoLanguage("创建集群")}}</span>
                  <span>{{autoLanguage("或者")}}</span>
                  <span class="linkButton" ng-click="CreateDeployModuleModel()">{{autoLanguage("一键部署")}}</span>
                  <span>{{autoLanguage("操作。")}}</span>
               </div>
            </div>
            <div class="data_empty" ng-show="clusterList.length > 0 && ModuleNum == 0">
               <div class="title">{{autoLanguage("当前集群还没有创建业务")}}</div>
               <div class="tips">
                  <span>{{autoLanguage("使用")}}</span>
                  <span class="linkButton" ng-click="CreateInstallModuleModel()">{{autoLanguage("添加业务")}}</span>
                  <span>{{autoLanguage("或者")}}</span>
                  <span class="linkButton" ng-click="CreateAppendModuleModel()">{{autoLanguage("发现业务")}}</span>
                  <span>{{autoLanguage("操作。")}}</span>
               </div>
            </div>

         </div>
      </div>
      
      <div ng-container="{offsetY:-50}"  ng-hide="currentPage!='host'">
         <div ng-container="{height:40}">
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-style="{'true':{'padding':'1px 6px'}}[WindowWidth < 1080]" ng-disabled="clusterList.length==0" ng-click="AddHost()"><i class="fa fa-plus"></i> {{autoLanguage("添加主机")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-style="{'true':{'padding':'1px 6px'}}[WindowWidth < 1080]" ng-disabled="clusterList.length==0" ng-click="RemoveHost()"><i class="fa fa-trash-o"></i> {{autoLanguage("删除主机")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-style="{'true':{'padding':'1px 6px'}}[WindowWidth < 1080]" ng-disabled="clusterList.length==0" ng-click="CreateUpdateIpModel()">{{autoLanguage("更新主机信息")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-style="{'true':{'padding':'1px 6px'}}[WindowWidth < 1080]" ng-disabled="clusterList.length==0" ng-click="SelectAll()">{{autoLanguage("全选")}}</button>
            <button class="topBtn" ng-class="{0:'disabled'}[clusterList.length]" ng-style="{'true':{'padding':'1px 6px'}}[WindowWidth < 1080]" ng-disabled="clusterList.length==0" ng-click="Unselect()">{{autoLanguage("反选")}}</button>
         </div>
         <div class="Grid" style="border-bottom:1px solid #E3E7E8;" ng-container="{offsetY:-40}" ng-hide="currentPage!='host'" ng-grid="HostGridOptions" >
            <div class="GridHeader">
               <div class="GridTr">
                  <div class="GridTd Ellipsis"></div>
                  <div class="GridTd Ellipsis">{{autoLanguage("状态")}}</div>
                  <div class="GridTd Ellipsis">{{autoLanguage("主机名")}}</div>
                  <div class="GridTd Ellipsis">{{autoLanguage("IP地址")}}</div>
                  <div class="GridTd Ellipsis">{{autoLanguage("业务")}}</div>
                  <div class="clear-float"></div>
               </div>
            </div>
            <div class="GridBody">
               <div class="GridTr" ng-repeat="hostInfo in HostList track by $index" ng-if="clusterList[currentCluster]['ClusterName'] == hostInfo['ClusterName']">
                  <div class="GridTd Ellipsis" style="word-break:break-all;">
                     <input type="checkbox" ng-model="hostInfo['checked']"/>
                  </div>
                  <div class="GridTd Ellipsis" style="word-break:break-all;">
                     <i class="fa fa-circle" style="color:#00CC66;" ng-if="hostInfo['Error']['Flag'] == 0"></i>
                     <i class="fa fa-circle error" ng-attr="{'data-desc':hostInfo['Error']['Message']}" ng-if="hostInfo['Error']['Flag'] != 0"></i>
                  </div>
                  <div class="GridTd Ellipsis" style="word-break:break-all;">{{hostInfo['HostName']}}</div>
                  <div class="GridTd Ellipsis" style="word-break:break-all;">{{hostInfo['IP']}}</div>
                  <div class="GridTd Ellipsis" style="word-break:break-all;">
                     <span ng-repeat="moduleInfo in moduleList track by $index">
                        <span ng-repeat="installInfo in moduleInfo['Location'] track by $index" ng-if="hostInfo['HostName']==installInfo['HostName']">
                           <a class="linkButton" ng-if="moduleInfo['BusinessType']=='sequoiadb'" ng-click="GotoDataModule(moduleInfo['ClusterName'],moduleInfo['BusinessType'],moduleInfo['DeployMod'],moduleInfo['BusinessName'])">{{moduleInfo['BusinessName']}}</a><span style="color:#666;" ng-if="moduleInfo['BusinessType']!='sequoiadb'">{{moduleInfo['BusinessName']}}</span>&nbsp;
                        </span>
                     </span>
                  </div>
                  <div class="clear-float"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="pull-right" ng-container="{width:270}">
      <div class="borderBox" style="padding:10px 10px;overflow-y:auto;overflow-x:hidden;" ng-container="{offsetY:-123}">
         <div ng-container="{height:30}"><b>{{autoLanguage("集群")}}</b></div>
         <div ng-container="{offsetY:-30}">
            <ul style="list-style-type:none;margin:0;padding:0;">
               <li class="linkButton" style="margin-bottom:10px;" ng-repeat="clusterInfo in clusterList track by $index" ng-style="{true:{'color':'#FF7547','font-weight':'bold'}}[currentCluster==$index]" ng-click="SwitchCluster($index)">
                  <div class="pull-left" style="font-size:110%;padding-top:4px;width:18px;">
                     <i class="fa fa-archive"></i>
                  </div>
                  <div class="pull-left" style="margin-left:3px;width:225px;">
                     <div class="Ellipsis">{{clusterInfo['ClusterName']}}</div>
                     <div class="Ellipsis" style="color:#ccc;font-size:90%;">{{clusterInfo['Desc']}}</div>
                  </div>
                  <div class="clear-float"></div>
               </li>
            </ul>
         </div>
      </div>
      <div ng-container="{marginTop:10,height:113}">
         <table class="table border loosen" style="font-size:90%;">
            <tr>
               <th style="background-color:#F1F4F5;">{{autoLanguage("操作")}}</th>
            </tr>
            <tr>
               <td><a class="linkButton" ng-click="CreateDeployModuleModel()">{{autoLanguage("一键部署")}}</a></td>
            </tr>
            <tr>
               <td><a class="linkButton" ng-click="CreateAddClusterModel()">{{autoLanguage("创建集群")}}</a></td>
            </tr>
            <tr>
               <td><a class="linkButton" ng-class="{false:'disabled'}[clusterList.length > 0]" ng-disabled="clusterList.length==0" ng-click="CreateRemoveClusterModel()">{{autoLanguage("删除集群")}}</a></td>
            </tr>
         </table>
      </div>
   </div>
</div>