<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--this xml is for ci, please don't modify it-->
<!--testcase for function test, which can be excuted concurrently-->

<suite name="sdv" verbose="1" parallel="tests">
   <parameter name="HOSTNAME"       value="${HOSTNAME}" />
   <parameter name="SVCNAME"        value="${SVCNAME}" />
   <parameter name="CHANGEDPREFIX"  value="story_java_test" />
   <parameter name="RSRVPORTBEGIN"  value="26000" />
   <parameter name="RSRVPORTEND"    value="27000" />
   <parameter name="RSRVNODEDIR"    value="/opt/sequoiadb/database/" />
   <parameter name="WORKDIR"        value="/tmp/javatest" />   

   <listeners>
      <listener class-name="com.sequoiadb.testcommon.TimePrinterListener"/>
   </listeners>
   
   <test name="split"  parallel="classes" thread-count="5">
        <packages>
            <package name="com.sequoiadb.split" />
            <package name="com.sequoiadb.meta" />
            <package name="com.sequoiadb.index" />
            <package name="com.sequoiadb.crud" />
            <package name="com.sequoiadb.crud.compress.snappy" />
            <package name="com.sequoiadb.subcl"/>
            <package name="com.sequoiadb.lzwtransaction" />
            <package name="com.sequoiadb.transaction" />
        </packages>
   </test>
 
</suite>
   