<div style="padding:10px 15px;" ng-controller="Monitor.SdbOverview.Charts.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;padding-top:10px;" ng-container="{height:70}">
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;" ng-click="moduleInfo()">集群</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoDeploy()">{{clusterName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-tasks"></i>
         </div>
         <div style="height:50px;float:left;max-width:200px;">
            <div style="font-size:90%;">{{moduleType}}</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoModule()">{{moduleName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-sitemap"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">分区组数</div>
            <div class="Ellipsis" style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoGroups()">20</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div class="clear-float"></div>
   </div>

   <div class="underlineTab" ng-container="{height:40,marginTop:10}">
      <ul class="left">
         <li>
            <a href="#/Monitor/SDB-Overview/Index">{{autoLanguage("分区组列表")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Node">{{autoLanguage("节点列表")}}</a>
         </li>
         <li class="active">
            <a href="#/Monitor/SDB-Overview/Charts">{{autoLanguage("图表")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Domain">{{autoLanguage("域")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Session">{{autoLanguage("会话")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Resource">{{autoLanguage("资源")}}</a>
         </li>
      </ul>
   </div>

   <div ng-container="{offsetY:-165,marginTop:10}">
      <div ng-container="{offsetX:-10,height:'50%'}">
         <div class="borderBox pull-left" style="padding:10px 10px 0 10px;" ng-container="{offsetX:-10,width:'50%'}" create-chart="charts.Insert"></div>
         <div class="borderBox pull-left" style="padding:10px 10px 0 10px;" ng-container="{offsetX:-10,width:'50%',marginLeft:16}" create-chart="charts.Update"></div>
         <div class="clear-float"></div>
      </div>
      <div ng-container="{offsetX:-10,marginTop:20,height:'50%'}">
         <div class="borderBox pull-left" style="padding:10px 10px 0 10px;" ng-container="{offsetX:-10,width:'50%'}" create-chart="charts.Delete"></div>
         <div class="borderBox pull-left" style="padding:10px 10px 0 10px;" ng-container="{offsetX:-10,width:'50%',marginLeft:16}" create-chart="charts.Query"></div>
         <div class="clear-float"></div>
      </div>
   </div>
</div>