<div style="padding:10px 15px;" ng-controller="Monitor.SdbOverview.Index.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;" ng-style="" ng-container="{height:30}">
      <div class="linkButton" style="float:left;font-size:120%;" ng-click="GotoModule()">
         Monitor
      </div>
      <div style="float:left;padding-top:3px;">
         &nbsp;>
      </div>
      <div class="linkButton" style="float:left;font-size:120%;">
         &nbsp;Groups
      </div>
      <!--<div style="float:left;padding-top:3px;">
         &nbsp;>
      </div>
      <div class="linkButton" style="float:left;font-size:120%;">
         &nbsp;Node
      </div>-->

      <!--<div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;" ng-click="moduleInfo()">集群</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoDeploy()">{{clusterName}}</span>
            </div>
         </div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-sitemap"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">&nbsp;</div>
            <div style="font-size:120%;width:80px;font-weight:bold;">
               <span class="Ellipsis linkButton" ng-click="GotoGroups()">分区组</span>
            </div>
         </div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-laptop"></i>
         </div>
         <div class="Ellipsis" style="height:50px;max-width:200px;float:left;">
            <div style="font-size:90%;">&nbsp;</div>
            <div style="font-size:120%;width:160px;font-weight:bold;">
               <span class="Ellipsis linkButton" ng-click="GotoHosts()">主机列表</span>
            </div>
         </div>
      </div>-->
   </div>

   <div class="underlineTab" ng-container="{height:40,marginTop:10}">
      <ul class="left">
         <li class="active">
            <a href="#/Monitor/SDB-Overview/Index">{{autoLanguage("分区组列表")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Node">{{autoLanguage("节点列表")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Charts">{{autoLanguage("图表")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Domain">{{autoLanguage("域")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Session">{{autoLanguage("会话")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Resource">{{autoLanguage("资源")}}</a>
         </li>
      </ul>
   </div>

   <div ng-container="{height:30,marginTop:10}">
      <button class="btn btn-default" ng-click="addGroup()">{{autoLanguage("创建分区组")}}</button>
      <button class="btn btn-default" ng-click="deleteGroup()">{{autoLanguage("删除分区组")}}</button>
      <button class="btn btn-default" ng-click="startGroup()">{{autoLanguage("启动分区组")}}</button>
      <button class="btn btn-default" ng-click="stopGroup()">{{autoLanguage("停止分区组")}}</button>
   </div>

   <div ng-container="{marginTop:10,marginBottom:10,height:40}">
      <div class="result failed Ellipsis" style="height:38px;">
         2016-03-15 15:59 - coord 的节点 ubuntu-test-02:11810 连接失败
      </div>
   </div>
   <div ng-container="{offsetY:-190,marginTop:10}">
      <div style="float:left;" ng-container="{width:270}">
         <div ng-container="{height:'50%',offsetY:-5}">
            <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("协调组")}}</div>
            <div style="border:1px solid #ddd;padding:10px;overflow-y:auto;font-size:90%;" ng-container="{offsetY:-25}">
               <div>
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("状态")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                           <div ng-if="groupInfo['Status'] == '1'">
                              <i class="fa fa-circle" style="color:#00CC66;" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>&nbsp;{{autoLanguage("正常运行")}}
                           </div>
                           <div ng-if="groupInfo['Status'] == '0'">
                              <i class="fa fa-circle" style="color:#F9A937;" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>&nbsp;{{autoLanguage("分区组未激活")}}
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("分区组")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                           <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">
                              {{groupInfo['GroupName']}}
                           </span>
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("节点数")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 1">
                           {{groupInfo['Group'].length}}
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("连接数")}}</td>
                        <td class="Ellipsis">{{CoordInfo[0]['TotalNumConnects']}}</td>
                     </tr>
                  </table>
               </div>

            </div>
         </div>
         <div ng-container="{height:'50%',offsetY:-5,marginTop:10}">
            <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("编目组")}}</div>
            <div style="border:1px solid #ddd;padding:10px;overflow-y:auto;font-size:90%;" ng-container="{offsetY:-25}">
               <div>
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("状态")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                           <div ng-if="groupInfo['Status'] == '1'">
                              <i class="fa fa-circle" style="color:#00CC66;" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>&nbsp;{{autoLanguage("正常运行")}}
                           </div>
                           <div ng-if="groupInfo['Status'] == '0'">
                              <i class="fa fa-circle" style="color:#F9A937;" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>&nbsp;{{autoLanguage("分区组未激活")}}
                           </div>
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("分区组")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                           <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">
                              {{groupInfo['GroupName']}}
                           </span>
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("节点数")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                           {{groupInfo['Group'].length}}
                        </td>
                     </tr>
                  </table>
               </div>
               <div style="margin-top:10px;">
                  <table class="table">
                     <tr>
                        <td style="width:75px;font-weight:bold;">{{autoLanguage("主节点")}}</td>
                        <td class="Ellipsis" ng-repeat="groupInfo in GroupList track by $index" ng-if="groupInfo['Role'] == 2">
                           <span class="linkButton" ng-click="GotoNode()" ng-repeat="nodeInfo in groupInfo['Group'] track by $index" ng-if="nodeInfo['NodeID']==groupInfo['PrimaryNode']">
                              {{nodeInfo['HostName']}}:{{nodeInfo['Service'][0]['Name']}}
                           </span>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
      <div style="float:left;" ng-container="{offsetX:-280,marginLeft:10}">
         <div class="Ellipsis" style="height:25px;font-weight:bold;font-size:100%;">{{autoLanguage("数据组")}}</div>
         <div class="Grid2" ng-grid2="GroupGridOptions" ng-container="{offsetY:-56}">
            <div class="Grid2Header">
               <table>
                  <colgroup>
                     <col />
                     <col />
                     <col />
                     <col />
                     <col />
                     <col />
                  </colgroup>
                  <tbody>
                     <tr>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("状态")}}</div>
                        </td>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("分区组名")}}</div>
                        </td>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("节点数")}}</div>
                        </td>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("主节点")}}</div>
                        </td>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("集合数")}}</div>
                        </td>
                        <td>
                           <div class="Ellipsis">{{autoLanguage("记录数")}}</div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="Grid2Body">
               <table>
                  <colgroup>
                     <col />
                     <col />
                     <col />
                     <col />
                     <col />
                     <col />
                  </colgroup>
                  <tbody>
                     <tr ng-repeat="groupInfo in GroupList | orderBy:OrderByField" ng-if="groupInfo['Role'] == 0">
                        <td>
                           <div class="Ellipsis">
                              <i class="fa fa-circle" style="color:#00CC66;" ng-if="groupInfo['Status'] == '1'" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>
                              <i class="fa fa-circle" style="color:#F9A937;" ng-if="groupInfo['Status'] == '0'" ng-attr="{'data-desc':autoLanguage('分区组未激活')}"></i>
                           </div>
                        </td>
                        <td>
                           <div class="Ellipsis">
                              <span class="linkButton" ng-click="GotoGroup( groupInfo['GroupName'] )">{{groupInfo['GroupName']}}</span>
                           </div>
                        </td>
                        <td>
                           <div class="Ellipsis">
                              <span>{{groupInfo['Group'].length}}</span>
                           </div>
                        </td>
                        <td>
                           <div class="Ellipsis">
                              <span class="linkButton" ng-click="GotoNode( nodeInfo['HostName'], nodeInfo['Service'][0]['Name'] )" ng-repeat="nodeInfo in groupInfo['Group'] track by $index" ng-if="nodeInfo['NodeID']==groupInfo['PrimaryNode']">
                                 {{nodeInfo['HostName']}}:{{nodeInfo['Service'][0]['Name']}}
                              </span>
                              <span ng-if="groupInfo['Group'].length == 0">none</span>
                           </div>
                        </td>
                        <td>
                           <div class="Ellipsis">
                              <span>{{groupInfo['TotalCL']}}</span>
                           </div>
                        </td>
                        <td>
                           <div class="Ellipsis">
                              <span>{{groupInfo['TotalRecords']}}</span>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div> 
         <div class="GridTool">
            <div class="ToolLeft" ng-cloak>
               <span>{{sprintf(autoLanguage("一共 ? 个数据组"), DatagroupNum)}}</span>
            </div>
         </div>
      </div>

      <div class="clear-float"></div>
   </div>
</div>


