<div style="padding:10px 15px;" ng-controller="Monitor.SdbOverview.Node.Ctrl" ng-container="{}">
   <div style="border-bottom:3px solid #ddd;padding-top:10px;" ng-container="{height:70}">
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-cubes"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;" ng-click="moduleInfo()">集群</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoDeploy()">{{clusterName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-tasks"></i>
         </div>
         <div style="height:50px;float:left;max-width:200px;">
            <div style="font-size:90%;">{{moduleType}}</div>
            <div style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoModule()">{{moduleName}}</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div style="float:left;color:#808080;">
         <div style="height:50px;width:45px;float:left;">
            <i style="color:#ccc;padding-top:8px;font-size:218%;" class="fa fa-sitemap"></i>
         </div>
         <div style="height:50px;float:left;">
            <div style="font-size:90%;">分区组数</div>
            <div class="Ellipsis" style="font-size:140%;width:160px;">
               <span class="Ellipsis linkButton" ng-click="GotoGroups()">20</span>
            </div>
         </div>
         <div class="clear-float"></div>
      </div>
      <div class="clear-float"></div>
   </div>

   <div class="underlineTab" ng-container="{height:40,marginTop:10}">
      <ul class="left">
         <li>
            <a href="#/Monitor/SDB-Overview/Index">{{autoLanguage("分区组列表")}}</a>
         </li>
         <li class="active">
            <a href="#Monitor/SDB-Overview/Node">{{autoLanguage("节点列表")}}</a>
         </li>
         <li>
            <a href="#/Monitor/SDB-Overview/Charts">{{autoLanguage("图表")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Domain">{{autoLanguage("域")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Session">{{autoLanguage("会话")}}</a>
         </li>
         <li>
            <a href="#Monitor/SDB-Overview/Resource">{{autoLanguage("资源")}}</a>
         </li>
      </ul>
   </div>

   <div style="height:30px;margin:10px 0;">
      <button class="btn btn-default" ng-click="CreatePlayIntervalModel()">{{autoLanguage("实时刷新设置")}}</button>&nbsp;<button class="btn btn-default" dropdown-menu="SelectMenu" ng-click="OpenSelecMenu()">{{autoLanguage("选择显示列")}}&nbsp;<i class="fa fa-caret-down"></i></button>
   </div>

   <div create-timer="Timer"></div>
   <div class="Grid2" ng-grid2="NodeGridOptions" ng-container="{offsetY:-212}">
      <div class="Grid2Header">
         <table>
            <colgroup>
               <col />
               <col ng-repeat="nodeName in ShowKeyList track by $index" />
            </colgroup>
            <tbody>
               <tr>
                  <td>
                     <div class="Ellipsis">{{autoLanguage("状态")}}</div>
                  </td>
                  <td style="cursor:pointer;" ng-repeat="fieldName in ShowKeyList track by $index" ng-click="SetOrderField(fieldName)">
                     <div class="Ellipsis">
                        <i class="fa fa-caret-up" ng-if="OrderByField.indexOf(fieldName) >= 0"></i><i class="fa fa-caret-down" ng-if="OrderByField.indexOf('-'+fieldName) >= 0"></i>&nbsp;{{fieldName}}
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="Grid2Body">
         <table>
            <colgroup>
               <col />
               <col ng-repeat="nodeName in ShowKeyList track by $index" />
            </colgroup>
            <tbody>
               <tr ng-repeat="nodeInfo in NodesList | orderBy:OrderByField">
                  <td>
                     <div class="Ellipsis">
                        <i class="fa fa-circle" style="color:#00CC66;" ng-if="nodeInfo['Status'] == true" ng-attr="{'data-desc':autoLanguage('正常运行')}"></i>
                        <i class="fa fa-circle" style="color:#D9534F;" ng-if="nodeInfo['Status'] == false" ng-attr="{'data-desc':nodeInfo['Flag']}"></i>
                     </div>
                  </td>
                  <td ng-repeat="fieldName in ShowKeyList track by $index">
                     <div class="Ellipsis" ng-switch on="fieldName">
                        <span ng-switch-when="NodeName">
                           <span class="Ellipsis" ng-if="nodeInfo['Status'] == false">{{nodeInfo[fieldName]}}</span>
                           <span class="Ellipsis linkButton" ng-if="nodeInfo['Status'] == true" ng-click="GotoNode( nodeInfo['HostName'], nodeInfo['ServiceName'] )">{{nodeInfo[fieldName]}}</span>
                        </span>
                        <span class="Ellipsis linkButton" ng-switch-when="HostName" ng-click="GotoHost()">{{nodeInfo[fieldName]}}</span>
                        <span class="Ellipsis linkButton" ng-switch-when="GroupName" ng-click="GotoGroup( nodeInfo[fieldName] )">{{nodeInfo[fieldName]}}</span>
                        <span class="Ellipsis linkButton" ng-switch-when="TotalCL" ng-click="GotoDatabase()">{{nodeInfo[fieldName]}}</span>
                        <span class="Ellipsis linkButton" ng-switch-when="TotalRecords" ng-click="GotoDatabase()">{{nodeInfo[fieldName]}}</span>
                        <span class="Ellipsis linkButton" ng-switch-when="TotalLobs" ng-click="GotoDatabase()">{{nodeInfo[fieldName]}}</span>
                        <span ng-switch-default>{{nodeInfo[fieldName]}}</span>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="GridTool">
      <div class="ToolLeft">
         <span>{{sprintf(autoLanguage("一共 ? 个节点"),NodesList.length)}}</span>
      </div>
   </div>

</div>